<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorites</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            /*justify-content: center;*/
            align-items: left;
            height: 100vh;
        }
        p {
            margin-left: 4rem;
            font-size: 2rem;
            color: black;
        }
        .link {
            font-size: 1rem;
        }
        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            list-style: none;
            background: skyblue;
        }
        .nav {
            display: block;
            padding: 1em;
            color: white;
            text-align: center;
            border-top: 1px solid white;
            border-bottom: 1px solid gray;
        }
        .nav:hover{
            background: royalblue;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/login" class="nav">Login</a></li>
        <li><a href="/signup" class="nav">Signup</a></li>
        <li><a href="/logout" class="nav">logout</a></li>
        <li><a href="/movies/favorites" class="nav">Favorites</a></li>
        <li><a href="/movies" class="nav">Go to the Moviestore</a></li> 
    </ul>
<h1>Favorite Titles</h1>
{{range .}}
{{ . }}<br>
{{end}}

</body>
</html>