<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>moviestore</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: left;
            height: 100vh;
        }
        p {
            margin-left: 4rem;
            font-size: 2rem;
            color: black;
        }
        .link {
            font-size: 1rem;
        }
    </style>
</head>
<body>
<h1>Welcome to the moviestore. Can I get you a movie?</h1>
{{range .}}
<p><a href="/movies/show?movieID={{.MovieID}}">{{.Title}}</a> - {{.Title}} - {{.Director}} - {{.Price}} - <a href="/movies/update?movieID={{.MovieID}}">update</a>  - <a href="/movies/delete/process?movieID={{.MovieID}}">delete</a> </p>
{{end}}
<p class="link"><a href="/movies/create">Insert A Movie</a></p>
<h2><a href="/logout">log out</a></h2>
</body>
</html>