<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Signup</h1>

<form method="post">
    <input type="email" name="username" placeholder="email"><br>
    <input type="text" name="password" placeholder="password">
    <input type="text" name="firstname" placeholder="firstname">
    <input type="text" name="lastname" placeholder="lastname">
    <label for="sr">Role</label>
    <select name="role" id="sr">
        <option value="user">user</option>
        <option value="admin">admin</option>
    </select>
    <input type="submit">

</form>

</body>
</html>